# Entorno de ejecución
NODE_ENV=development
HOST=localhost
PORT=3100

# Configuración CORS
CORS=http://localhost:3305

# Configuración de la base de datos
DB_HOST=localhost
DB_USER=usuario
DB_PASSWORD=contraseña
DB_NAME=nombre_base_datos
DB_PORT=3306

# Rutas de carga
UPLOAD_PATH=./uploads/
MAX_FILE_SIZE=5242880
